@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
@import "normalize.css";
/* breakpoints */
img {
  max-width: 100%;
  height: auto;
}

#layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 480px;
  min-width: 480px;
  min-height: 100%;
  margin: 0 auto;
}

.poker {
  display: flex;
  flex-direction: column;
  background-color: #1f1e1e;
  padding: 10px;
}
.poker .top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 450px;
  margin-bottom: 30px;
}
.poker .top__bg {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}
.poker .top__bg .bg-hex {
  margin-top: -23%;
  width: 130%;
  object-position: center;
}
.poker .top__bg .bg-man {
  position: absolute;
  top: 0;
  max-width: 380px;
  object-fit: contain;
  object-position: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poker .top__bg .bg-man .poker-cc {
  margin-top: -6rem;
  width: 80%;
}
.poker .top__col-left, .poker .top__col-right {
  width: 25%;
  position: absolute;
  z-index: 2;
}
.poker .top__col-left .list, .poker .top__col-right .list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.poker .top__col-left {
  left: 0;
  top: 10px;
}
.poker .top__col-left .list {
  align-items: start;
}
.poker .top__col-left .list__item {
  max-width: 55px;
}
.poker .top__col-left .list__item.chip-1 {
  margin-left: 10%;
}
.poker .top__col-left .list__item.coin-1 {
  width: 52%;
  margin-top: -0.8em;
  margin-left: 4.5em;
  transform: rotate(90deg);
}
.poker .top__col-left .list__item.coin {
  width: 38px;
  margin-left: 2.5em;
  transform: rotate(160deg);
}
.poker .top__col-left .list__item.chip-2 {
  margin-top: 0.5em;
  margin-left: 3em;
}
.poker .top__col-left .list__item.coin-2 {
  margin-top: -1.6em;
  margin-left: 1em;
  width: 27px;
}
.poker .top__col-left .list__item.chip-3 {
  margin-top: 1em;
  margin-left: 1em;
  transform: rotate(65deg);
}
.poker .top__col-left .list__item.coin-3 {
  transform: rotate(160deg);
  margin-top: 4.7em;
  margin-left: 1em;
}
.poker .top__col-right {
  top: 0;
  right: 0;
}
.poker .top__col-right .list {
  align-items: end;
}
.poker .top__col-right .list__item {
  max-width: 4rem;
}
.poker .top__col-right .list__item.chip-1 {
  transform: rotate(70deg);
  margin-right: 0.6em;
}
.poker .top__col-right .list__item.coin {
  width: 38px;
  margin-top: -2em;
  margin-right: 3.6em;
  transform: rotate(90deg);
}
.poker .top__col-right .list__item.coin-1 {
  width: 50px;
  margin-top: 1em;
  margin-right: 2em;
}
.poker .top__col-right .list__item.chip-2 {
  width: 42px;
  margin-top: 1em;
  margin-right: 0.3em;
}
.poker .top__col-right .list__item.chip-3 {
  min-width: 60px !important;
  margin-top: 0.8em;
  margin-right: 0.6em;
  transform: rotate(45deg);
}
.poker .top__col-right .list__item.coin-2 {
  width: 38px;
  margin-top: 0;
  margin-right: 0.6em;
  transform: rotate(90deg);
}
.poker .top__col-right .list__item.dice {
  min-width: 70px;
  margin-top: 0.7em;
  margin-right: 1.4em;
  transform: rotate(-15deg);
}
.poker .neon {
  width: 100%;
  border-top: 2px #d6bbef;
  border-bottom: 2px #d6bbef;
  border-top-style: dashed;
  border-bottom-style: dashed;
}
.poker .neon .list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  padding: 0;
}
.poker .neon .buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
.poker .neon .buttons .list__item {
  width: 120px;
}
.poker .neon .games {
  margin-top: 10px;
  margin-bottom: -10px;
}
.poker .neon .games .list__item {
  width: 120px;
}
.poker .bottom .promo {
  padding: 20px;
  display: flex;
}
.poker .bottom .promo .text {
  width: 70%;
  color: white;
  font-size: 32px;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poker .bottom .promo .text .purple {
  font-size: 42px;
  color: #fa5cfa;
  font-weight: 500;
}
.poker .bottom .promo .join {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.poker .bottom .promo .join_link {
  margin-top: 10px;
}
.poker .bottom .coins {
  padding-top: 20px;
}
.poker .bottom .buttons .list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 0 20px;
}
.poker .bottom .footer {
  margin-top: 50px;
}
.poker .bottom .footer .list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}
.poker .bottom .footer .list__item {
  max-width: 150px;
}
.poker .bottom .footer .list__item .chip-1 {
  max-width: 55px;
  transform: rotate(60deg);
}
.poker .bottom .footer .list__item .chip-2 {
  max-width: 45px;
  margin-top: 20px;
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
